@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", sans-serif;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #222222;
}

/* Firefox */
* {
  scrollbar-color: #000000 #111111;
  scrollbar-width: thin;
}
