@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #111111;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #222222;
}

/* Firefox */
* {
  scrollbar-color: #000000 #111111;
  scrollbar-width: thin;
}
